# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Django stuff
django.log
logs/
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/
static_root/
*.sqlite3

# Secrets
.env
*.secret
config/settings/local.py

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Migrations 
**/migrations/__pycache__/
**/migrations/*.pyc
